{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>

    <!-- Add a text that shows if and for which genre we're filtering -->
    {% if genres %}
        <h3>Showing movies for genres: 
            {% for genre in genres %}
                {{ genre }}
                <!-- Add a link to remove the genre from the filtering -->
                <a href="{{ url_for('movies_by_genres', genres=genres|reject('equalto', genre)|join(',')) }}">[x]</a>
            {% endfor %}
        </h3>
        <!-- Add a link to undo the genre filtering -->
        <a href="{{ url_for('movies_page') }}">Show all movies</a>
    {% else %}
        <h3>Showing all movies</h3>
    {% endif %}


    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b> 
                {% for l in m.links[0:1] %}
                        <a href="{{l.imdb_url}}">imdb</a>
                        <a href="{{l.tmdb_url}}">tmdb</a>
                        <a href="{{l.ml_url}}">movielense</a>
                {% endfor %}
            </div>
            <div class="panel-body">
                <p>
                    {% for g in m.genres %}
                        <a href="{{ url_for('movies_by_genres', genres=(genres|default([])+[g.genre])|join(',')) }}">
                            <span class="label label-{{ g.genre in genres and 'primary' or 'default' }}">{{ g.genre }}</span>
                        </a>
                    {% endfor %}
                </p>
            </div>
              <div class="panel-footer">Rate:
                  <a href="#" class="card-link">1</a>
                  <a href="#" class="card-link">2</a>
                  <a href="#" class="card-link">3</a>
                  <a href="#" class="card-link">4</a>
                  <a href="#" class="card-link">5</a> Stars
              </div>
        </div>
    {% endfor %}

    <!-- navigation links -->
    {% if movies.has_prev %}
        <a href="{{ url_for('movies_by_genre', genre=genre, page=movies.prev_num) }}">Previous</a>
    {% endif %}
    {% if movies.has_next %}
        <a href="{{ url_for('movies_by_genre', genre=genre, page=movies.next_num) }}">Next</a>
    {% endif %}

</div>

{% endblock %}
