{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>

    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b> 
                {% for l in m.links[0:1] %}
                        <a href="{{l.imdb_url}}">imdb</a>
                        <a href="{{l.tmdb_url}}">tmdb</a>
                        <a href="{{l.ml_url}}">movielense</a>
                {% endfor %}
            </div>
            <div class="panel-body">
                <p>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
            </div>
              <div class="panel-footer">Rate:
                  <a href="#" class="card-link">1</a>
                  <a href="#" class="card-link">2</a>
                  <a href="#" class="card-link">3</a>
                  <a href="#" class="card-link">4</a>
                  <a href="#" class="card-link">5</a> Stars
              </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
